<main>
  <section>
    <h1 contenteditable="true">{{project.name}}</h1>
    <h2>Vision</h2>
    <p contenteditable="true">{{project.vision}}</p>
  </section>
  <details id="teamSection">
    <summary>
      <h1>Team</h1>
    </summary>
    <div>
      <req-team-table [groupId]="projectId"></req-team-table>
    </div>
  </details>
  <details id="Schedule">
    <summary>
      <h1>Schedule / Tasks</h1>
    </summary>
    <div>
      <p>What will go here?</p>
    </div>
  </details>
  <details id="Goals">
    <summary>
      <h1>Project Scoped: Goals / Qualities (NFR) / Constraints</h1>
    </summary>
    <req-goal-list [groupId]="projectId"></req-goal-list>
  </details>
  <details id="Features">
    <summary>
      <h1>Features</h1>
    </summary>
    <req-feature-list [groupId]="projectId"></req-feature-list>
  </details>
</main>
