<details [id]="feature.id">
    <summary>
      <h2>Feature: <span [(ngModel)]="feature.name" contenteditable="true"></span></h2>
    </summary>
    <div class="feature_details">
      <details [id]="feature.id"> 
        <summary>
          <h2>Description</h2>
        </summary>
        <p [(ngModel)]="feature.name" contenteditable="true">
        </p>
      </details>
      <details id="feature_1_goals">
        <summary>
          <h2>Feature: Goals / Qualities (NFR) / Constraints</h2>
        </summary>
        <req-goal-list [groupId]="makeGroupId(groupId, feature.id)"></req-goal-list>
      </details>
    </div>
</details>
  